[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = none
